@import url("reset.css");

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
    
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#headerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    background: #000000;
}

#header {
    height: 50px;
    background: #FF0000;
    border-radius: 10px;
    border: 1px solid #eb521f;
    margin: 5px;
}
.welcome{

  width:300px;
  margin:0px auto;
  display:block;
}


#navigationwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
}

#navigation {
    height: 40px;
    background: #848484;
    border-radius: 10px;

    margin: 5px;

}

#contentwrap {
    width: 850px;
    float: right;
    margin: 0 auto;
} /*purplebar*/

#content {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    margin: 5px;
}

#rightcolumnwrap {
    width: 150px;
    float: left;
    margin: 0 auto;
}

#rightcolumn {
    background: #CC33FF;
    border-radius: 10px;
    border: 1px solid #b81feb;
    margin: 5px;
}

#footerwrap {
    width: 1000px;
    float: left;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    background: #brown;
    border-radius: 10px;
    border: 1px solid #1feb52;
    margin: 5px;
}

/*---------------------navigation bar-------------------------------*/

#nav {
	margin:0 auto;
	padding:0;
	background:#808259 url(nav_bg.jpg) 0 0 repeat-x;
	width:439px;
	float:middle;
	border:1px solid #42432d;
	border-width:0px 0;
}
#nav li {
	display:inline;
	padding:0;
	margin:0;
}
#nav a:link,
#nav a:visited {
	color:#000;
	background:#FF0000;
	padding:20px 40px 4px 10px;
	float:left;
	width:auto;
	border-right:1px solid #42432d;
	text-decoration:none;
	font:bold 1em/1em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	text-shadow: 2px 2px 2px #555;
}
#nav a:hover {
	color:#fff;
	background:#FFFF00;
}
#nav li:first-child a {
	border-left:1px solid #42432d;
}
#home #nav-home a,
#about #nav-about a,
#archive #nav-archive a,
#lab #nav-lab a,
#reviews #nav-reviews a,
#contact #nav-contact a {
	background:#FFFF00;
	color:#fff;
	text-shadow:none;
}
#home #nav-home a:hover,
#about #nav-about a:hover,
#archive #nav-archive a:hover,
#lab #nav-lab a:hover,
#reviews #nav-reviews a:hover,
#contact #nav-contact a:hover {
	background:#e35a00;
}
#nav a:active {
	background:#000000;
	color:#fff;
}

/*------------------------------------------------------------------------------*/
